* {
	margin: 0;
	/* padding: 0; */
	font-family: 'Roboto', sans-serif;
	/* box-sizing: border-box; */
}
body {
	background:#222;
}
.card {
	margin: 100px auto 0;
	background: linear-gradient(180deg, rgba(42,46,80,1) 0%, rgba(76,55,125,1) 100%);
	width: 90%;
	max-width: 645px;
	text-align: center;
	padding: 5px 35px;
}
@media (aspect-ratio < 1) {
	.card {
		margin: 0 auto 0;
	  height: 100vh;
	  width: 100vh;
	  max-width: 100vh;
	}
}
.search {
	display: flex;
	align-items: center;
	padding: 10px 35px;
	padding-top: 10%;
	padding-bottom: 10%;
	/*justify-content: space-between;*/
}
.search input {
	border: 0;
	outline: 0;
	background: #fff;
	color: #555;
	padding: 0px 25px;
	height: 60px;
	border-radius: 30px;
	flex: 1;
	margin-right: 16px;
	font-size: 18px;
}
.search button {
	border: 0;
	outline: 0;
	background: #fff;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	cursor: pointer;
}
.search button img {
	width: 16px;
}
.button:hover {
	box-shadow: 0 0 6px rgba(35, 173, 278, 1);
}
.weather img {
	/* margin-top: 20px;
	margin-bottom: -60px;
	width: 300px; */
	filter: drop-shadow(0 0 0.75rem rgb(97, 185, 218));
}
.city {
	padding-top: 5%;
	font-weight: bold;
	font-size: 70px;
	color: white;
}
.type {
	font-size: 50px;
	color: grey;
	font-weight: bold;
	padding-bottom: 5%;
}
.temp {
	font-size: 100px;
	font-weight: bold;
	color: white;
}
.weather {
	float: right;
  	width: 35%;
  	display: flex;
    align-items: center;
}
.info {
	display: flex;
 	background: rgba(255, 255, 255, 0.09);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(9px);
	-webkit-backdrop-filter: blur(9px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	margin-bottom: 5%;
}
.description {
	float: left;
  	width: 65%;
}
.forecast {
	margin-bottom: 5%;
	display: flex;
	align-items: center;
	min-height: 200px;
	background: rgba(49, 34, 96, 1);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	/*backdrop-filter: blur(9px);
	-webkit-backdrop-filter: blur(9px);
	border: 1px solid rgba(49, 34, 96, 0.42);*/
}
.hourly-forecast {
    margin-top: 3%;
	margin-bottom: 3%;
    overflow-x: hidden;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
	scrollbar-width: thin;
}
.hourly-forecast:hover {
	overflow-x: scroll;
  }
.hourly-item {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
	background-color: white;
    color: grey;
	font-weight: bold;
	border-radius: 25px;
}
.hourly-item img {
    width: 100px;
	height: 100px;
}